__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.idea/
.vscode/

checkpoints/
model/*
!model/motion_library/
model/motion_library/*
!model/motion_library/README.md
data/
outputs/
runs/
wandb/
train/dataset/*
!train/dataset/README.md
!train/dataset/BFM-Zero/
train/dataset/BFM-Zero/*
!train/dataset/BFM-Zero/data_info.md
!train/dataset/skate-expert-pose/
!train/dataset/skate-expert-pose/**
*.ckpt
*.onnx
*.pt
*.pth
