__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
.idea/
.vscode/

checkpoints/
model/*
!model/motion_library/
model/motion_library/*
!model/motion_library/README.md
data/
!train/scripts/isaac_env/humanoidverse/data/
!train/scripts/isaac_env/humanoidverse/data/**
outputs/
runs/
wandb/
train/dataset/*
!train/dataset/README.md
!train/dataset/BFM-Zero/
train/dataset/BFM-Zero/*
!train/dataset/BFM-Zero/data_info.md
!train/dataset/skate-expert-pose/
!train/dataset/skate-expert-pose/**
train/dataset/skate-expert-pose/split_test/
*.ckpt
*.onnx
*.pt
*.pth
